<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>會員頁面</title>
    </head>
    <body style="text-align:center;">
        <h1 style="background-color: lightsteelblue;">歡迎光臨，這是會員頁</h1>
        <div > {{name}}，歡迎登入系統</div>
        <a href="/signout">登出系統</a>

        <h3 style="text-align:center;">查詢會員姓名</h3>
        <div >
            <input type="text" id = "username"/>
            <button type="submit" onclick="search_member()">查詢</button>
        
        <div id="member_result" ></div>
        </div>
        <script>
            function search_member(){
                let username = document.querySelector("#username").value ;
                fetch(`/api/members?username=${username}`).then((response)=>{
                    return response.json();
                }).then((result)=>{
                    let member_result = document.querySelector("#member_result");
                    if (result.data===null){
                        member_result.innerText ="查無該會員";
                    }else{
                        member_result.innerText = `${result.data.name}(${result.data.username})`;
                    }
                })
            }                
        </script>
    </body>
</html>